[Unit]
Description=Halloween costume sercice
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/bash -c "cd /home/pi/Halloween2018; source venv/bin/activate; python3 UpsideDown.py"

[Install]
WantedBy=multi-user.target
